#navbar {
    font-size: 2.5rem;
    justify-content: space-around;
    height: 90px;
}

#logo img {
    height: 80px;
    margin-top: 4px;

}

#navbar ul {
    align-items: center;
}

/* Home CSS starts here */
#container {
    margin-top: -120px;
}

#offer {
    height: 350px;
}

#services {
    display: flex;
    justify-content:space-around;
}

.box {
    margin: 20px 15px;
    height: 10vh;
    width: 15vh;
    padding: 0px 10px;;
}
.head3{
    font-size: 1.35rem;
}
