#container {
    margin: 10px;
    background-color: burlywood;
    padding: 5px 10px;
    border-radius: 12px;
    border: double black 3px;
}

#container h1 {
    display: inherit;
    color: white;
    font-family: 'Yeon Sung', cursive;
    border: double white 4px;
    border-radius: 15px;
    padding: 2px 5px;
}

#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    margin: 20px;
}

.box img {
    height: 40vh;
}

.box:hover {
    transform: scale(1.1);
}