#trip{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 15px;
    align-items: center;
    justify-content: center;
}
.box{
    font-family: 'Baloo 2', cursive;
    padding: 5px 8px;
    text-align:end ;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    margin: 10px;
    border: solid rgba(0, 0, 0, 1) 2px;
    height: 120px;
    width: 40vh;

}
.box:hover {
    box-shadow: 0px 0px 5px 5px rgba(255, 68, 0, 0.7);
}
#container{
    border-radius: 20px;
    margin: 25px;
    background-color: rgb(178, 210, 210);
}
#container h1{
    padding: 0px 65px;
    padding-top: 40px;
    font-family: 'Baloo 2',cursive;
}
#trip1{
    background: url('../static/img/trips/world.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
#trip2{
    background: url('../static/img/trips/honey.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
#trip3{
    background: url('../static/img/trips/holiday.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
#trip4{
    background: url('../static/img/trips/adventure.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
#trip5{
    background: url('../static/img/trips/heritage.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
#trip6{
    background: url('../static/img/trips/hill.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
#trip7{
    background: url('../static/img/trips/solo.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
#trip8{
    background: url('../static/img/trips/family.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
#trip9{
    background: url('../static/img/trips/beach.jpg') no-repeat center center/cover;
    height:120px;
    width:40vh;
}
.head{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 8px;
    padding: 2px 2px;
}
#coverage{
    margin: 25px;
    color: black;
    background-color: rgba(255, 166, 0, 0.4);
    padding: 15px 35px;
    border-radius: 15px;
    
}
#coverage ul{
    padding-left: 15px;
}
#coverage li{
    list-style:circle;
    font-family: 'Baloo 2', cursive;

}
#coverage h2{
    font-family: 'Yeon Sung', cursive;

}