extends base.pug
block script 
block style 
    style
        include trip.css
block content        
    div#container
        h1 Trips:Full Coverage
        div#trip
            div.box#trip1
                span.head World Trip
            div.box#trip2
                span.head HoneyMoon Trip 
            div.box#trip3
                span.head Holiday Trip
            div.box#trip4
                span.head Adventure Trip
            .box#trip5 
                span.head Heritage Trip
            div.box#trip6
                span.head Hill Station Trip 
            div.box#trip7
                span.head Solo Trip
            div.box#trip8
                span.head Family Trip
            div.box#trip9
                span.head Beach Trip
    div#coverage
        h2 All type of trip options are available:-
        ul 
            li Traveling  
            li Traveling with Guide
            li Traveling + Night stay
            li Full Trip coverage #[span (Inludes all things)]
