#navbar {
    font-size: 2.5rem;
    justify-content: space-around;
    height: 90px;
}

#logo img {
    height: 80px;
    margin-top: 4px;

}

#navbar ul {
    align-items: center;
}
/* Our Trip page css starts here */
#trip {
    margin: 20px 10px;
}

.box {
    margin: 10px;
    height: 140px;
    width: 10vh;

}
#trip1{
    height: 180px;
    width: 20vh;
}
#trip2{
    height: 180px;
    width: 20vh;
}
#trip3{
    height: 180px;
    width: 20vh;
}
#trip4{
    height: 180px;
    width: 20vh;
}
#trip5{
    height: 180px;
    width: 20vh;
}
#trip6{
    height: 180px;
    width: 20vh;
}
#trip7{
    height: 180px;
    width: 20vh;
}
#trip8{
    height: 180px;
    width: 20vh;
}
#trip9{
    height: 180px;
    width: 20vh;
}

#container {
    padding-bottom: 10px;
    border-radius: 30px;
    margin: 15px;}

#container h1 {
    padding-bottom: 10px;
    font-size: 2rem;
}